<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs", {title: "Show Page"}) %>
    <body>
        <h1>Fruits show page</h1>
        The <%=fruit.name; %> is  <%=fruit.color; %>.
        <% if(fruit.readyToEat === true){ %>
            It is ready to eat
        <% } else { %>
            It is not ready to eat
        <% } %>
        <a href="/fruits/<%= index %>/edit"><button>EDIT</button></a>
        <a href="/fruits"><button>Return to Index</button></a>
    </body>
</html>